<!-- Agenda -->
    <section class="bg-dark agenda">
      <div class="container">
        <h1 class="text-center pt-5">Agenda</h1>
        <hr class="mb-5">
        <div class="row">
          <!-- Dec 15 -->
          <div class="col-md-4">
            <h4 class="text-center">December 15</h4>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">10:00-17:00</th>
                  <td>Check in</td>
                </tr>
                <tr>
                  <th scope="row">19:00-21:00</th>
                  <td>Dinner Party</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Dec 16 -->
          <div class="col-md-4">
            <h4 class="text-center">December 16</h4>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">10:00-12:00</th>
                  <td>Speech</td>
                </tr>
                <tr>
                  <th scope="row">12:00-14:00</th>
                  <td>Buffet Lunch</td>
                </tr>
                <tr>
                  <th scope="row">14:00-16:00</th>
                  <td>Round Table</td>
                </tr>
                <tr>
                  <th scope="row">16:00-16:30</th>
                  <td>Tea Break</td>
                </tr>
                <tr>
                  <th scope="row">16:30-17:30</th>
                  <td>Round Table</td>
                </tr>
                <tr>
                  <th scope="row">18:00-20:00</th>
                  <td>Dinner Party</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Dec 17 -->
          <div class="col-md-4">
            <h4 class="text-center">December 17</h4>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">10:00-12:00</th>
                  <td>Speeches</td>
                </tr>
                <tr>
                  <th scope="row">12:00-14:00</th>
                  <td>Buffet Lunch</td>
                </tr>
                <tr>
                  <th scope="row">14:00-16:00</th>
                  <td>Presentations</td>
                </tr>
                <tr>
                  <th scope="row">16:30-17:30</th>
                  <td>Round Table</td>
                </tr>
                <tr>
                  <th scope="row">18:00-20:00</th>
                  <td>Dinner Party</td>
                </tr>
                <tr>
                  <th scope="row">19:30-23:00</th>
                  <td>Cocktail Party</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- end -->
        </div>
      </div>
    </section>