<!-- Development Teams -->
    <section class="bg-dark">
      <div class="container">
        <h1 class="text-center pt-5">Development Teams</h1>
        <hr class="mb-5">
        <div class="row">
          <div class="col-md-3">
              <img src="/static/img/dev-teams/bu.jpg" alt="bitcoin unlimited">
          </div>
          <div class="col-md-3">
              <img src="/static/img/dev-teams/bitprim.jpg" alt="bitcoin unlimited">
          </div>
          <div class="col-md-3">
              <img src="/static/img/dev-teams/abc.jpg" alt="bitcoin unlimited">
          </div>
          <div class="col-md-3">
              <img src="/static/img/dev-teams/copernicus.jpg" alt="bitcoin unlimited">
          </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-3">
              <img src="/static/img/dev-teams/wormhole.jpg" alt="bitcoin unlimited">
          </div>
        </div>
      </div>
    </section>