<!-- Participants -->
    <section class="bg-dark">
      <div class="container">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-3">
                <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Show participants</button>
            </div>
        </div>
        <div class="collapse" id="collapseExample">
          <!-- first row -->
          <div class="row d-flex justify-content-center">
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
          </div>
          <!-- second row -->
          <div class="row d-flex justify-content-center">
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
          </div>
          <!-- third row -->
          <div class="row d-flex justify-content-center">
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 text-dark">
              <div class="card my-2">
                <img class="card-img-top" src="/static/img/speakers/roger.jpg" alt="Roger Ver">
                <div class="card-body">
                  <h5 class="card-title">Roger Ver</h5>
                  <p class="card-text">CEO, Bitcoin.com</p>
                </div>
              </div>
            </div>
          </div>
          <!-- fourth -->
        </div>
      </div>
    </section>