<!-- Tickets -->
    <section class="bg-dark tickets">
      <div class="container">
        <h1 class="text-center pt-5">Tickets</h1>
        <hr class="mb-5">
        <div class="row text-dark text-center">
          <div class="col-md-4">
            <div class="card bg-primary my-2">
              <img class="mt-4" src="/static/img/icons/ticket.svg" height="60px" alt="ticket">
              <div class="card-body">
                <h5 class="card-title">General Admission</h5>
                <p class="card-text font-weight-bold">$700</p>
                <p>Admittance & Token & Facilities for simultaneous interpretation</p>
                <a href="#" class="btn btn-primary">Buy</a>
                <p class="text-muted pt-3">Limit of 500</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-primary my-2">
              <img class="mt-4" src="/static/img/icons/ticket.svg" height="60px" alt="ticket">
              <div class="card-body">
                <h5 class="card-title">VIP Ticket</h5>
                <p class="card-text font-weight-bold">$900</p>
                <p>VIP Seat & Token & Facilities for simultaneous interpretation</p>
                <a href="#" class="btn btn-primary">Buy</a>
                <p class="text-muted pt-3">Limit of 120</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-primary my-2">
              <img class="mt-4" src="/static/img/icons/ticket.svg" height="60px" alt="ticket">
              <div class="card-body">
                <h5 class="card-title">SVIP Ticket</h5>
                <p class="card-text font-weight-bold">$1200</p>
                <p>SVIP Seat & Dinner Party & Cocktail Party</p>
                <a href="#" class="btn btn-primary">Buy</a>
                <p class="text-muted pt-3">Limit of 80</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>